---
layout: default
title: Home
feed: /blog/atom.xml
published: 2009-01-01
---

<div class='sidebar'>
  {{> hi-my-name-is-dan }}
  {{> search }}

  <div class='section'>
    <h1>Best Viewed In ...</h1>
    <p>A browser that <a href='/pages/no-support-for-ie.html'>doesn't waste my time</a>.</p>
  </div>

  {{> links }}
  {{> twitter-update }}
</div>
