
<div class='section'>
  <h1>Hi, My Name Is Dan</h1>
  <div class='avatar'>
    <img
      src='{{avatarurl}}'
      alt='Dan Yoder'/>
  </div>
  <p>
    You can <del>be 
    <a href="#">my friend</a>
    if you want</del>, or just
    <a href="http://twitter.com/dyoder">follow me</a>.
    Take a look at my 
    <a href="http://www.linkedin.com/in/dyoder">professional background</a>
    or the awesome things that 
    <a href="http://borderstylo.com/">we're building at Border Stylo</a>.
    Maybe you'd like to
    <a href="http://borderstylo.com/company#careers">come help us!
    If all else fails, you can
    <a href="/blog">read my blog.</a>
  </p>
</div>
